* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}


/* Header Section CSS */

header {
    text-align: right;
    background-image: url(../resource/images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
}

.header-content {
    margin: 200px 200px 200px 850px;
}

.header-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.header-title:hover {
    color: beige;
}

.header-description {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.header-description:hover {
    color: beige;
}

.header-button {
    background: #FFFFFF;
    border: 0px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    padding: 15px 25px;
}

.header-button:hover {
    background-color: beige;

}


/* Main Section CSS */
.content-container {
    margin: 130px 300px 100px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content {
    padding: 10px;
}

.content-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.content-subtitle {
    margin-bottom: 16px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


.content-details li {
    padding: 8px;
}

/* Plan Container */
.plan-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;

}

.course-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 300px 100px 250px;
    text-align: center;
}


.course-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.plan-container img {
    margin-bottom: 24px;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* contact container */

.contact-container {
    background-image: url(../resource/images/watch.png);
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin: 130px 230px;
}

.contact-title {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.contact-content {
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    border-radius: 8px;
    padding: 20px;
}

.contact-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding: 10px 20px;
}

.contact-button {
    background: #FFFFFF;
    border: 0px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    margin: 15px 25px;
    padding: 10px 15px;
}

.contact-button:hover {
    background-color: beige;
}

/* footer */
footer {
    background: #151414;
    color: #FFFFFF;

}

.footer-section {
    display: flex;
    justify-content: space-evenly;
    margin: 130px 230px 0px;
}

.future-container {
    margin: 50px 150px 50px 0px;

}

.future-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;

}

.future-description {
    margin: 16px 0px 24px 0px;
}

.future-email {
    margin-bottom: 16px;
}

.future-contact {
    margin-bottom: 16px;
}

.future-icon {
    margin-top: 32px;
    margin-bottom: 16px;
}

.subscribe-container {
    margin: 50px 150px 50px 0px;
}

.subscribe {
    font-weight: 600;
    font-size: 25px;
    margin: 15px 25px;
}

#email {
    background: #151414;
    color: #F3F3F3;
    font-size: 18px;
    margin: 15px 25px;
    padding: 10px 15px;
    border-radius: 5px;
}

#email:hover {
    background-color: beige;
}

.footer-button {
    background: #005FAC;
    border: 0px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin: 15px 25px;
    padding: 10px 15px;
}

.footer-button:hover {
    color: beige;
}